* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.aplicativo-entrar {
    width: 100%;
    height: 100%;
    background-color: aqua;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aplicativo-entrar img {
    height: 200px;
    margin-bottom: 50px;
}

.entrar {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entrar span {
    cursor: pointer;
    color: var(--link);
}

.cadastro-concluido ion-icon {
    font-size: 300px;
    color: var(--verde);
}

.cadastro-concluido span {
    width: 90%;
    height: 80px;
    margin-top: 50px;

    color: var(--branco);

    font-weight: 700;
    background-color: var(--verde);
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.entrar input {
    width: 90%;
    height: 80px;
    margin: 15px;
    padding: 15px;

    font-size: 25px;

    border: none;
    background-color: var(--input);
    border-radius: 50px;
}

.entrar .button {
    background-color: var(--button);
    cursor: pointer;
}

.alerta {
    width: 80%;
    height: 300px;
    padding: 25px 15px;
    margin: 25px;

    background-color: var(--branco-sobretom);
    border-radius: 50px;
    box-shadow: 0 4px 10px 4px var(--shadow);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    position: absolute;
}

.alerta .mensagem{
    margin-top: 25px;

    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.alerta span {
    font-weight: 700;
}

.alerta .buttons {
    display: flex;
    cursor: pointer;
}

.alerta .buttons div {
    width: 140px;
    height: 50px;
    margin: 12px;

    background-color: var(--button);
    border-radius: 29px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.none {
    display: none;
}