* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: sans-serif;
    background-color: var(--branco);
    color: var(--preto);

    display: flex;
    justify-content: center;
}

.aplicativo-entrar {
    height: 50vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entrar {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.entrar span {
    cursor: pointer;
    color: var(--link);
}

.cadastro-concluido span {
    cursor: pointer;
    width: 200px;
    height: 80px;

    font-weight: 700;
    background-color: var(--verde);
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.entrar input {
    height: 80px;
    width: 500px;
    margin: 15px;
    padding: 15px;

    font-size: 25px;

    border: none;
    background-color: var(--input);
    border-radius: 50px;
}

.entrar .button {
    background-color: var(--button);
    cursor: pointer;
}

.none {
    display: none;
}